<!-- Hero Section -->
<section id="home" class="hero section dark-background">
  <!-- <img src="assets/images/hero-bg-2.jpg" alt="" class="hero-bg" /> -->
  <img src="assets/images/home-bg-2.jpg" alt="" class="hero-bg" />
  <!-- <img src="../../../assets/images/hero-bg-2.jpg" alt="" class="hero-bg" /> -->

  <div class="container">
    <div class="row gy-4 justify-content-between">
      <div
        class="col-lg-4 order-lg-last hero-img"
        data-aos="zoom-out"
        data-aos-delay="100"
      >
        <img src="../../../assets/images/landing-img.png" class="img-fluid animated" alt="" />
        <!-- <img src="../../../assets/images/hero-img.png" class="img-fluid animated" alt="" /> -->
      </div>

      <div
        class="col-lg-7 d-flex flex-column justify-content-center"
        data-aos="fade-in"
      >
        <h1>Welcome to <span>Four Innovatives</span></h1>
        <!-- <p>We are team of talented designers making websites with Bootstrap</p> -->
        <p>Your Trusted Partner in E-Commerce Website Development</p>
        <p>At Four Innovatives, we specialize in crafting powerful, user-friendly e-commerce platforms tailored to meet your business needs. As a dynamic startup with a passionate team of 10 experts, we are dedicated to delivering innovative solutions that empower businesses to thrive in the digital marketplace.</p>
        <!-- <div class="d-flex">
          <a href="#about" class="btn-get-started">Get Started</a>
          <a
            href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
            class="glightbox btn-watch-video d-flex align-items-center"
            ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
          >
        </div> -->
      </div>
    </div>
  </div>

  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      ></path>
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3"></use>
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0"></use>
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9"></use>
    </g>
  </svg>
</section>
<!-- /Hero Section -->
