<!-- Service Section -->
<section id="services" class="services section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <div class="row">
      <!-- <div class="col-md-5 order-1 order-md-1 d-flex align-items-center"></div> -->
      <div class="col-md-7 order-2 order-md-2">
        <h2>Services</h2>
        <div>
          <span>Check Our </span>
          <span class="description-title">Services</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row gy-4 align-items-center">
      <!-- <div class="row gy-4 align-items-center service-item"> -->
      <!-- <div
        class="col-md-5 order-1 order-md-1 d-flex align-items-center"
        data-aos="zoom-out"
      >
        <img
          src="../../../assets/images/services-img.png"
          class="img-fluid"
          alt=""
        />
      </div> -->
      <div class="col-md-12 order-1 order-md-1 mt-0" data-aos="fade-up">
        <h5 class="ps-3 mb-3">Services Built Specifically For Your Business</h5>
        <!-- <p class="fst-italic">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p> -->
        <!-- <ul>
          <li>
            <i class="bi bi-check"></i
            ><span>Custom E-Commerce Website Development</span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>Responsive and Mobile-Optimized Designs</span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>Secure Payment Gateway Integration</span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>Inventory and Order Management Systems</span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>SEO and Performance Optimization</span>
          </li>
          <li>
            <i class="bi bi-check"></i
            ><span>Ongoing Support and Maintenance</span>
          </li>
        </ul> -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-5">
            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="../../../assets/images/e-commerce.jpg"
                    class="img-fluid"
                    alt="Custom E-Commerce Website Development"
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-cart3"></i>
                  </div>
                  <a href="" class="stretched-link">
                    <h3>Custom E-Commerce Website Development</h3>
                  </a>
                  <p>
                    Empower your business with bespoke e-commerce solutions. We
                    design, develop, and optimize websites tailored to meet your
                    business goals, ensuring seamless user experiences and
                    robust functionality.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="../../../assets/images/responsive.jpg"
                    class="img-fluid"
                    alt="Responsive and Mobile-Optimized Designs"
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-aspect-ratio-fill"></i>
                  </div>
                  <a href="" class="stretched-link">
                    <h3>Responsive and Mobile-Optimized Designs</h3>
                  </a>
                  <p>
                    Stay ahead of the curve with modern, responsive designs that
                    adapt flawlessly across devices. Our designs ensure your
                    website performs optimally on smartphones, tablets, and
                    desktops.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="../../../assets/images/secure-payment.jpg"
                    class="img-fluid"
                    alt="Secure Payment Gateway Integration"
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-credit-card-2-front-fill"></i>
                  </div>
                  <a href="service-details.html" class="stretched-link">
                    <h3>Secure Payment Gateway Integration</h3>
                  </a>
                  <p>
                    Enhance trust and usability by integrating secure and
                    reliable payment gateways. We support multiple payment
                    methods, ensuring smooth and safe transactions for your
                    customers.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="../../../assets/images/order-management.jpg"
                    class="img-fluid"
                    alt="Inventory and Order Management Systems"
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-boxes"></i>
                  </div>
                  <a href="service-details.html" class="stretched-link">
                    <h3>Inventory and Order Management Systems</h3>
                  </a>
                  <p>
                    Simplify operations with intelligent inventory and order
                    management solutions. From tracking stock levels to
                    processing orders, our systems help optimize efficiency and
                    reduce manual effort.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="../../../assets/images/seo.jpg"
                    class="img-fluid"
                    alt="SEO and Performance Optimization"
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-activity"></i>
                  </div>
                  <a href="service-details.html" class="stretched-link">
                    <h3>SEO and Performance Optimization</h3>
                  </a>
                  <p>
                    Boost your online visibility with our advanced SEO
                    strategies and performance optimization services. We focus
                    on improving site speed, ranking, and user engagement to
                    help you reach your target audience.
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col-xl-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="service-item">
                <div class="img">
                  <img
                    src="../../../assets/images/support-maintenance.jpg"
                    class="img-fluid"
                    alt="Ongoing Support and Maintenance"
                  />
                </div>
                <div class="details position-relative">
                  <div class="icon">
                    <i class="bi bi-broadcast"></i>
                  </div>
                  <a href="service-details.html" class="stretched-link">
                    <h3>Ongoing Support and Maintenance</h3>
                  </a>
                  <p>
                    Stay stress-free with our dedicated support and maintenance
                    services. We ensure your systems stay updated, secure, and
                    running at peak performance.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service Item -->
  </div>
</section>
<!-- /Service Section -->
